<link rel='stylesheet' href='/css/newjoke.css' />
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 text-center" id="jokeFormHeader">
      <p class="new-joke-text fs-1">New Blog-Post-R-US Form!</p>
    </div>

    <form class="col-12 form-group" id="newJokeCard">
      {{!-- <div class="pb-3" style="padding-left: 0; padding-right: 0"> --}}
        <label for="setupInput" class="form-label mt-3">Blog</label>
        <input type="text" class="setupinput" id="setupcontent" placeholder="Blog post pls">
        {{!--
      </div> --}}

      {{!-- <label for="jokecontent" class="form-label">Punchline</label>
      <textarea id="jokecontent" class="punchlineinput" aria-describedby="passwordHelpBlock"
        placeholder="Between you and me man, something smells.."></textarea> --}}


      {{!-- <div class="d-flex justify-content-center"> --}}
        <input class="create-joke-btn" type="submit" value="Create New Blog!" id="submits" type="button"
          style="color:white"></input>
      {{!-- </div> --}}
    </form>

  </div>
</div>

<script src="/js/createjoke.js"></script>