<div class="container d-flex justify-content-center">
    {{!-- <div>
        <div class="containers"> --}}
            <div id="login-container">

                <h1 id="login-title">Change Password</h1>
                <form class="login-form form-group" id="change-pass-form">
                    {{!-- <div class="form-group"> --}}
                        <label for="usernameInput">Username:</label>
                        <input type="text" id="usernameInput" placeholder="punnydad">
                        {{!--
                    </div>
                    <div class="form-group"> --}}
                        <label for="passwordInput"> Original Password:</label>
                        <input type="password" id="passwordInput" name="passwordInput" placeholder="Punstoppable!">
                        {{!--
                    </div> --}}

                    <label for="passwordInput">New Password:</label>
                    <input type="password" id="newPasswordInput" name="passwordInput" placeholder="Punexpected!">

                    <div class="form-group" id="submits">
                        <input id="login-btn" type="submit" value="Change Password">
                    </div>
                </form>
               


        <script src="/js/login.js"></script>
        <script src="/js/changepassword.js"></script>