<div class="container d-flex justify-content-center">
    {{!-- <div>
        <div class="containers"> --}}
            <div id="login-container">

                <h1 id="login-title">Create Account</h1>
                <form class="login-form form-group" id="create-account-form">
                    <label for="usernameInput">Username:</label>
                    <input type="text" id="usernameInput"  placeholder="GiggleGladiator">
                    <label for="emailInput">Email:</label>
                    <input type="email" id="emailInput" placeholder="HahaHaven888@gmail.com">
                    <label for="passwordInput">Password:</label>
                    <input type="password" id="passwordInput" name="passwordInput" placeholder="HumorHighrollers">
                    <label for="confirmpasswordInput">Confirm Password:</label>
                    <input type="password" id="confirmpasswordInput" name="passwordInput" placeholder="HumorHighrollers">
                    <div class="form-group" id="submits">
                        <input id="create-acct-btn" type="submit" value="Create Account">
                    </div>
                </form>
            </div>
</div>  


<script src="/js/createacct.js">
</script>