
{{!-- <form class="login-form"> 
    <label for="username">Username: </label>
    <input type="text" id="usernameInput">
    <label for="passwordInput">password: </label>
    <input type="password" name="passwordInput" id="passwordInput">
    <input type="submit" id="login-btn" value="Log In">
</form> --}}
 <div class="centered-container">
        <div>
            <div class="container">
                <h2>Login</h2>
                <form class="login-form">
                    <div class="form-group">
                        <label for="usernameInput">Username:</label>
                        <input type="text" id="usernameInput">
                    </div>
                    <div class="form-group">
                        <label for="passwordInput">Password:</label>
                        <input type="password" id="passwordInput" name="passwordInput">
                    </div>
                    <div class="form-group">
                        <input id="login-btn" type="submit" value="Login">
                    </div>
                </form>
            </div>
        </div>


<script src="/js/login.js"></script>