
{{!-- <form class="login-form"> 
    <label for="username">Username: </label>
    <input type="text" id="usernameInput">
    <label for="passwordInput">password: </label>
    <input type="password" name="passwordInput" id="passwordInput">
    <input type="submit" id="login-btn" value="Log In">
</form> --}}
<link rel='stylesheet' href='/css/login.css'/>
<div
	class='position-fixed top-0 start-50 translate-middle-x p-3'
	style='z-index: 11'
>
	<div
		id='liveToast'
		class='toast hide z-3 login-error-toast w-100'
		role='alert'
		aria-live='assertive'
		aria-atomic='true'
	>
		<div class='toast-header bg-background-white'>
			<strong class='me-auto text-danger error-msg'>Error!</strong>
		</div>
		<div class='toast-body bg-background-white'>
			<div class='login-msg'>Failed to login! Username or password
				was entered incorrectly!</div>
			<div class='mt-2 pt-2'>
				<button
					type='button'
					class='btn btn-secondary btn-sm'
					data-bs-dismiss='toast'
				>Close</button>
			</div>
		</div>
	</div>
</div>
 <div class="container d-flex justify-content-center">
        {{!-- <div>
            <div class="containers"> --}}
                <div class="main-login" id="login-container">

                <h1 id="login-title">Login</h1>
                <form class="login-form form-group">
                    {{!-- <div class="form-group"> --}}
                        <label for="usernameInput">Username:</label>
                        <input type="text" id="usernameInput" placeholder="Punnydad">
                    {{!-- </div>
                    <div class="form-group"> --}}
                        <label for="passwordInput">Password:</label>
                        <input type="password" id="passwordInput" name="passwordInput" placeholder="OwlAlwaysLovePuns!">
                    {{!-- </div> --}}
                    <div class="form-group" id="submits">
                        <input id="login-btn" type="submit" value="Login">
                    </div>
                </form>
                <div>
                <div class="signup-link">
                    <a href="/createacct" id="sign-up-instead">Don't Have an Account? Signup Here</a>
                </div>
                <div class="change-pass-link">
                    <a href="/changepass" id="change-password-instead">Change Your Password</a>
                </div>
                </div>
        
            {{!-- </div>
        </div> --}}


<script src="/js/login.js"></script>