
<form class="login-form"> 
    <label for="username">Username: </label>
    <input type="text" id="usernameInput">
    <label for="passwordInput">password: </label>
    <input type="password" name="passwordInput" id="passwordInput">
    <input type="submit" id="login-btn" value="Log In">
</form>



<script src="/js/login.js"></script>