@media only screen and (max-width: 460px) {

	.footer-container {
		width: 90vw;
		margin-top: 15px;
        font-size: small;
    	}

	#footer-content {
        padding: 15px;
		align-items: baseline;
	}

    .col-3 {
		width: calc(100% - 20px);
        text-align: left;
        padding: 0.4rem 1rem;
        /* margin-top: 15px;
        margin-bottom: 15px; */
	}

    #comment-button {
        margin-left: 25px;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

	.footer-container {
		width: 90vw;
		margin-top: 15px;
	}

    #footer-content {
        padding: 15px;
		align-items: baseline;
	}

	.container-movetop-btn{
		right: 0%;
		margin: 0 0.5rem 2rem 0 ;
	}

	.show-punchline {
		width: auto;
        text-align: left;
	}

    #comment-button {
        margin-left: 25px;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 780px) {
	.footer-container {
		width: 90vw;
	}

	.container-movetop-btn{
		right: 0%;
		margin: 0 1rem 2rem 0 ;
	}

	.show-punchline {
		width: auto;
        text-align: left;
	}

    #comment-button {
        margin-left: 25px;
    }

}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.container-movetop-btn{
		right: 0%;
		margin: 0 2rem 2rem 0 ;
	}

    #comment-button {
        margin-left: 25px;
    }

    .show-punchline {
		width: auto;
        text-align: left;
	}

}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.container-movetop-btn{
		right: 0.5%
	}

    #comment-button {
        margin-left: 25px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.container-movetop-btn{
		right: 0.5%
	}
}


