@media screen and (max-width: 1200px) {
    #newJokeCard {
       width:90%

    }
}

@media screen and (max-width: 768px) {
    #newJokeCard {
        width:90%
 
     }

    
}

@media screen and (max-width: 640px) {

    #newJokeCard {
        width:90%
 
     }
}

@media screen and (max-width: 554px) {

    #newJokeCard {
        width:90%
 
     }

}