@media screen and (max-width: 1200px) {
    .col-12 {
       width:70%

    }
}

@media screen and (max-width: 768px) {
    .col-12 {
        width: 70%
    }

    
}

@media screen and (max-width: 640px) {

    .col-12 {
        width: 70%
    }

}