.nav{
    margin-left: 69%;
    /* margin-top: 100px; */
    font-size: 30px
}
.headers{
    background: rgb(255,215,59);
background: linear-gradient(0deg, rgba(255,215,59,1) 0%, rgba(255,35,35,0.8225665266106442) 100%);
}

.navbar-brand{
    font-size: 50px;
}
.navbar-nav{
    text-align: center;
}
#margin{
    margin-top: 50px;
    margin-bottom: 50px
}

