* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

#navbarlinks a, #navbarlinks button {
    font-size: 2rem;
}

.headers {
	border-bottom: 2px solid rgb(189, 189, 189);
	margin-bottom: 2rem;
}


.navbar-nav {
	text-align: center;
}



#navbarNav {
	display: flex;
	justify-content: flex-end;
}

#navbarlinks a,
#navbarlinks button {
	padding: 1rem;
	color: white;
}

body {
	width: 100%;
	height: 100%;
	background-image: linear-gradient(
		to right top,
		#026796,
		#21699c,
		#346aa2,
		#456ba7,
		#556cab,
		#666cae,
		#776cb0,
		#876cb1,
		#9c6cb0,
		#b06bad,
		#c26ba8,
		#d36ba1
	);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.setupinput,
.punchlineinput {
	background-color: rgb(245, 245, 245);
}

::placeholder {
	color: rgba(240, 248, 255, 0.5);
}

footer {
	position: relative;
	bottom: 0;
	border-top: 2px solid rgb(189, 189, 189);
	min-height: 10vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	color: aliceblue;
}

#footer-content {
	width: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.3rem;
}

.footer-container {
	width: 80vw;
	display: flex;
	justify-content: space-between;
}

.footer-rightcontent {
	padding-right: 40rem;
}

.login-form {
	width: 100%;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.form-group label {
	display: block;
	font-weight: 500;
	color: aliceblue;
	font-size: 1.4rem;
	margin-top: 0.5rem;
}

.form-group input,
.form-group textarea {
	width: 100%;
	padding: 10px;
	border: 1px solid #cccccc77;
	border-radius: 5px;
	box-sizing: border-box;
	background: rgba(255, 255, 255, 0.1);
	color: aliceblue;
}

.show-punchline {
	width: 90%;
	padding: 0.4rem;
	border: 2px solid #cccccc77;
	border-radius: 5px;
	box-sizing: border-box;
	background: rgba(114, 129, 255, 0.2);
	color: aliceblue;
}

.show-punchline:hover {
	background: rgba(114, 129, 255, 0.5);
}

.show-punchline:active {
	background: rgba(114, 129, 255, 0.7);
}

.form-group input[type='submit'] {
	cursor: pointer;
}

.containers {
	width: 60%;
	margin: auto;
}

#submitbutton {
	font-weight: bold;
	color: black;
}

#red {
	color: red;
}

#submits {
	margin-top: 1.5rem;
}

#submits:hover {
	background: rgba(255, 255, 255, 0.3);
}

#login-title {
	margin: 1.5rem 0 1.5rem 0;
	color: aliceblue;
}

#login-container {
	width: 60%;
}

#error-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 5rem;
	color: aliceblue;
}
.new-joke-text {
	padding: 15px;
	color: white;
}

.signup-link {
	margin-top: 1rem;
    margin-bottom: -1rem;
}
.signup-link a {
	color: aliceblue;
}

.container-joke-card {
	border: 2px solid aliceblue;
	border-radius: 10px;
	margin-bottom: 2rem;
	background-color: rgba(255, 255, 255, 0.1);
}

.container-joke-card > div {
	padding: 1rem 2rem 1rem 2rem;
	font-size: 1.3rem;
	color: aliceblue;
}

.container-jokeOTD {
	border: 2px solid aliceblue;
	border-radius: 10px;
	margin-bottom: 2rem;
	background-color: #9c6cb07a;
	width: 70%;
}

#jokeOTD-header {
	border-bottom: 2px solid aliceblue;
	padding-right: 0;
	padding-left: 0;
	background-color: #776cb079;
}

.jokeOTD-title {
	font-size: 2rem;
}

.container-jokeOTD > div {
	padding: 1rem 2rem 1rem 2rem;
	font-size: 1.3rem;
	color: aliceblue;
}

#joke-card-header {
	border-bottom: 2px solid aliceblue;
	padding-right: 0;
	padding-left: 0;
}

#authorname,
#postdate {
	padding: 0 1rem 0 1rem;
}

#joke-card-footer {
	border-top: 2px solid aliceblue;
	padding-top: 0;
}

#row-count-likes {
	padding-top: 0;
}

#joke-card-footer2 {
	display: flex;
	flex-direction: row;
}

#like-button,
#comment-button,
#bookmark-btn {
	font-size: 2rem;
	color: aliceblue;
}

.left-side-profile, .right-side-profile {
	width: 40%;
}

.container-profile {
	width: 100%;
	justify-content: space-around;
}

.container-profile-card {
	border: 2px solid aliceblue;
	border-radius: 10px;
	margin-bottom: 2rem;
	background-color: rgba(255, 255, 255, 0.1);
}

.container-profile-card > div {
	padding: 1rem 2rem 1rem 2rem;
	font-size: 1.3rem;
	color: aliceblue;
}
.names {
	text-align: center;
}

.yoursaves {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
}
#delete-btn {
	text-align: right;
}

.post-btns,
.bookmark-btn,
.comment-btn,
.github-btn,
.delete-btn,
.comment-bubble
{
	background: none;
	border: none;
}

#comments, #comment-form {
	/* display:none !important; */
	/* visibility: hidden; */
}

#joke-card-footer > div {
	margin-top: 1rem;
}

.container-comment-card {
	border: 2px solid aliceblue;
	border-radius: 10px;
	margin-bottom: 2rem;
    margin-top: -1.5rem;
	background-color: rgba(255, 255, 255, 0.3);
    width: 75%;
}

.container-comment-card > div {
	padding: 1rem 2rem 1rem 2rem;
	font-size: 1.3rem;
	color: aliceblue;
    
}


.comment-group {
	border: 2px solid aliceblue;
	border-radius: 10px;
	margin-bottom: 2rem;
    margin-top: -1.5rem;
	background-color: rgba(255, 255, 255, 0.3);
    width: 60%;
}

.comment-form {
    width: 100%;
	padding: 10px;
	border: 1px solid #cccccc77;
	border-radius: 5px;
	box-sizing: border-box;
	background: rgba(255, 255, 255, 0.1);
	color: aliceblue;
    display: flex;
}

#jokecontent{
    background: rgba(255, 255, 255, 0.2);
    color: rgb(255, 255, 255)
}

#btn-comment{
    font-size: 2rem;
    color: aliceblue;
    margin-top: 1rem;
}
#btn-github{
    color: white;
    font-size: 2rem;
}

#post-delete-btn{
    color: white
}
.github{
    color: white;
}

#comments, #comment-form {
	animation: slide-up 500ms forward;
}

#authorname,
#postdate,
#row-count-likes{
    font-weight: bold;
    font-size: 1.4rem;
}
#authorname{
    text-shadow: 2px 2px 2px rgb(255, 70, 255)
}

.container-movetop-btn{
    position: fixed;
    bottom: 13%;
    right: 10%

}

#back-to-top{
    background-color: #b06bad;
    border: none;
    color: white
    
}

#back-to-top a{
    color: white;
    text-decoration:none;
    
}
@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fade-out {
	100% {
		opacity: 0;
	}
	0% {
		opacity: 1;
	}
}

@keyframes slide-up {
	0% {
		transform: translateY(100%);
		opacity: 0;
	}
	100% {
		transform: translateY(0%);
		opacity: 1;
	}
}

@keyframes slide-down {
	0% {
		transform: translateY(0%);
	}
	100% {
		transform: translateY(100%);
	}
}

@media screen and (max-width: 1000px) {
	.yoursaves {
		flex-direction: column;
		align-items: center;
	}

	.left-side-profile, .right-side-profile {
		width: 80%;
	}


}